<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cardgame">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGame">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDl5Et5a0A71WN6jg9MkjTInXoThOLNaaA"/>
        <activity
            android:name="activiities.ScoreboardActivity"
            android:configChanges="orientation|screenLayout|screenSize|layoutDirection"/>

        <activity
            android:name="activiities.WinnerAcitvity"
            android:screenOrientation="landscape" />
        <activity
            android:name="activiities.GameActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="activiities.MainActivity"
            android:configChanges="screenLayout|screenSize|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>